.profile__wrapper {
  max-width: 336px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .profile__wrapper {
    justify-content: center;
    margin-bottom: 6px;
  }
}
